<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46963381993-43k6prpdvm9lifa8t9hepmue7qvsp9og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46963381993-43k6prpdvm9lifa8t9hepmue7qvsp9og</string>
	<key>API_KEY</key>
	<string>AIzaSyCoetDP9QCMBMz3uq7tCmGE-4LZdD21WBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>46963381993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toastApp</string>
	<key>PROJECT_ID</key>
	<string>toast-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>toast-customer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46963381993:ios:1b605038eccd87b26e8278</string>
</dict>
</plist>